@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #282828;
  color:whitesmoke;

}
/* Swiper custom styles */
.swiper-button-next,
.swiper-button-prev {
  color: white; /* Change to your desired color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%; /* Round shape */
  width: 40px; /* Button width */
  height: 40px; /* Button height */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for better visibility */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Adjust icon size */
}




